<div class="container">
    <div class="card shadow mb-4">                   
      <div class="card-body"> 
       <table class="table table-striped">
          <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Création</th> </tr>
                <tbody *ngFor="let cosmetique of cosmetiques">
                         <tr >
                            <td>{{cosmetique.idCosmetique}}</td>
                            <td>{{cosmetique.nomCosmetique}}</td>
                            <td>{{cosmetique.prixCosmetique}}</td>
                            <td>{{cosmetique.dateCreation | date:'dd/MM/yyyy'}}</td>
                          </tr>                                    
                 </tbody>
      </table>
      </div>
    </div>
  </div> 
  